body{
  position: fixed;
  padding: 0 16px;
}
.menu-item{
  font-size: 20px;
  text-decoration: none;
  color:black;
  position: relative;
  top:-16px;
  margin-right: 18px;
  margin-top: 7px;
}
#dropdown-menu{
  position: relative;
  top:-10px;
  margin-right: 18px;
  margin-top: 9px;
}
.menu-item:hover{
  text-decoration: underline;
}
#pp{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 90px;
  margin-top: 7px;
}
nav{
  text-align: right;
}
section{
  text-align: center;
  padding-top: 10%;
}
#search-box{
  width: 582px;
  color:#222;
  border: 1px solid #dfe1e5;
  font-size: 13px;
  padding: 14px;
  border-radius: 24px;
  outline: none;
  margin-top: 25px;
}
#search-box:hover{
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}
#search-box:focus{
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}
#input-wrapper{
  position: relative;
}
#input-wrapper>img{
  position: absolute;
  top:33px;
  right: 498px;
  width: 28px;
}
.custom-btn{
  background color: #f2f2f2;
  color: #5F6368;
  font-size: 14px;
  height: 36px;
  padding: 0 16px;
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  border: 1px solid transparent;
  box-shadow: 0 1px 1px rgba(0,0,0,0);
  color: #222;
  margin-top: 25px;
}
custom-btn:hover{
  background-image:linear-gradient(top,#f8f8f8,#f1f1f1);
border: 1px solid #c6c6c6;
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
color: #222;
cursor: pointer;
}
.custom-btn{
  margin-right: 16px;
}
#app-dropdown{
  width: 275px;
padding: 28px;
border: 1px solid #ccc;
box-shadow: 0 2px 10px rgba(0,0,0,.2);
position: absolute;
right: 100px;
display: none;
}
#dropdown-wrapper{
  display: inline-block;
  cursor: pointer;
}
#dropdown-wrapper:hover #app-dropdown{
  display: block;
}
.app-item{
  display: inline-block;
  width: 84px;
  margin-bottom: 18px;
  padding: 8px 2px;
  text-align: center;
}
.app-item>img{
  width: 50px;
  height: 50px;
}
.app-item>p{
  margin: 0;
  padding-top: 5px;
}
.app-item:hover{
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
/* #ftr{
  text-align: center;
  padding-top: 245px;
} */
.lang-items{
  text-align: center;
  margin-top: 30px;
  word-spacing: 8px;
}
.lang{
  text-decoration: none;
}
.ftr-item{
  font-size: 20px;
  text-decoration: none;
  color:black;
  text-align: left;
  padding-bottom: 50px;
}
.ftr-item:hover{
  text-decoration: underline;
}
.ftr-content{
  background-color: #E0DECA;
 margin-top: 200px;
 height: auto;
 width: 100vw;
 margin-left: -22px;
 padding: 20px;
 padding-left: 50px;
 word-spacing: 10px;
}
.ftr-item2{
  font-size: 20px;
  color: black;
  text-decoration: none;

}
.ftr-item2:hover{
  text-decoration: underline;
}
/* .brn{
text-align: right;
margin-bottom: 100px;
margin-right: 100px;
} */
